:host-context(.slide-container) .product-container {
  display: block;
  min-width: 18.75rem;
}

:host-context(.slide-container) .product-info {
  margin-top: 0.4rem;
  margin-left: 0;
}

.product-container {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid rgba(0,0,0,0.2);
}

.product-container p {
  margin: 0;
}

.product-image {
  display: flex;
  align-content: center;
}

.product-image > img {
  width: 100%;
  height: auto;
}

.product-info {
  margin-top: 0.4rem;
}


.product-name {
  font-size: 24px;
}

.price-container {
  display: flex;
  align-items: start;
  font-size: 15px;
  font-family: Arial, sans-serif
}

.price-container > .other {
  padding-top: 0.2rem;
}

.price {
  font-size: 30px;
}

.buy-button {
  font-size: 18px;
  padding: 0.5rem;
  display: block;
  background-color: black;
  color: white;
  cursor: pointer;
}

.cart {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 760px) {
  .product-container {
    display: flex;
  }

  .product-info {
    margin-top: 0;
    margin-left: 1rem;
  }
}
