<div class="product-container" *ngIf="product != undefined">
  <div class="product-image"><img src="{{ product.image }}" /></div>
  <div class="product-info">
    <a [routerLink]="['/product', product.name]" class="product-name"><h3 style="margin: 0; font-weight: normal">{{ product.name }}</h3></a>
    <p>by {{ product.author }}</p>

    <div class="price-container">
      <span class="other">$</span>
      <span class="price" *ngIf="product.stringPrice !== undefined">{{ product.stringPrice.split(".")[0] }}</span>
      <span class="other" *ngIf="product.stringPrice !== undefined">{{ product.stringPrice.split(".")[1] }}</span>
    </div>

    <button type="button" class="buy-button cart" *ngIf="onCart" (click)="removeFromCart.emit()">Remove from cart</button>
    <button type="button" class="buy-button cart" *ngIf="!onCart" (click)="addToCart.emit()">Add to cart</button>
    <button type="button" class="buy-button" id="buy_button">Buy now</button>
  </div>

  <div class="cart-price">
    ${{product.stringPrice}}
  </div>
</div>
