<div class="product-container" *ngIf="product != undefined">
  <div class="image-container">
  <a [routerLink]="['/product', product.name]">
    <img class="product-image" src="{{ product.image }}" />
    </a>
  </div>
  <div class="product-info">
    <a [routerLink]="['/product', product.name]" class="product-name"><h3 style="margin: 0; font-weight: normal">{{ product.name }}</h3></a>
    <p>by {{ product.author }}</p>

    <div class="price-container">
      <span class="other">$</span>
      <span class="price" *ngIf="product.stringPrice !== undefined">{{ product.stringPrice.split(".")[0] }}</span>
      <span class="other" *ngIf="product.stringPrice !== undefined">{{ product.stringPrice.split(".")[1] }}</span>
    </div>

    <button type="button" class="buy-button cart" *ngIf="onCart" (click)="removeFromCart.emit()">Remove from cart</button>
    <button type="button" class="buy-button cart" *ngIf="!onCart" (click)="addToCart.emit()">Add to cart</button>
    <button type="button" class="buy-button" id="buy_button">Buy now</button>
  </div>

  <div class="card-container">
    <div class="btn-conatiner-card">
      <button type="button" class="card-btn" *ngIf="onCart" (click)="removeFromCart.emit()">
        <img src="/assets/order-white-purchased-icon.svg" alt="cart-svg" />
      </button>
      <button type="button" class="card-btn" *ngIf="!onCart" (click)="addToCart.emit()">
        <img src="/assets/add-item-in-cart-icon.svg" alt="cart-svg" />
      </button>
    </div>
    <a [routerLink]="['/product', product.name]" class="product-name">
      <div class="product-info-card">
        <h3 style="margin: 0; font-weight: normal">{{ product.name }}</h3>
        <p>by {{ product.author }}</p>
      </div>
    </a>
  </div>

  

  <div class="cart-price">
    ${{product.stringPrice}}
  </div>
</div>
