<div class="product-container" *ngIf="product.image">
  <div class="product-image"><img src="{{ product.image }}" /></div>
  <div class="product-info">
    <p class="product-name">{{ product.name }}</p>
    <p>by {{ product.author }}</p>

    <div class="price-container">
      <span class="other">$</span>
      <span class="price" *ngIf="product.stringPrice !== undefined">{{ product.stringPrice.split(".")[0] }}</span>
      <span class="other" *ngIf="product.stringPrice !== undefined">{{ product.stringPrice.split(".")[1] }}</span>
    </div>

    <button type="button" class="buy-button cart" *ngIf="onCart" (click)="removeFromCart.emit()">Remove from cart</button>
    <button type="button" class="buy-button cart" *ngIf="!onCart" (click)="addToCart.emit()">Add to cart</button>
    <button type="button" class="buy-button">Buy now</button>
  </div>
</div>

<!--<button type="button" class="buy-button cart" *ngIf="cart.items.indexOf(product) !== -1" (click)="removeFromCart.emit(product)">Remove from cart</button>
<button type="button" class="buy-button cart" *ngIf="cart.items.indexOf(product) === -1" (click)="addToCart.emit(product)">Add to cart</button>-->
