
<span class="pages">{{currentPage + 1}} of {{pages}}</span>
<div class="carousel-container">
  <button class="swipe-button" (click)="leftSwipe()" type="button"><</button>

  <div id="carousel" class="products-container" vertical-product>
    <div class="loading-gif" #loading_gif>
      <img src="../../assets/loading.gif" alt="loadind gif" />
    </div>

    <!--<div class="loading-container">
      <div class="loading-bar" #loading_bar></div>
    </div>-->

    <app-singular-product *ngFor="let product of current" [product]="product" [onCart]="cart.items.indexOf(product) !== -1" (addToCart)="addToCart(product)" (removeFromCart)="removeFromCart(product)"></app-singular-product>
  </div>

  <button class="swipe-button" (click)="rightSwipe()" type="button">></button>
</div>
