.carousel-container {
  width: 100%;
  display: flex;
}

.products-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

.pages {
  float: right;
}

.swipe-button {
  width: 2.5rem;
  height: fit-content;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
  line-height: 0.7;
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
}
