<div class="search-bar-section">
  <div class="search-bar-container">
    <input type="text" placeholder="Search image" class="search-bar" />
    <img class="magnifying_glass" src="/assets/search-line-icon.svg" alt="svg-search" />
  </div>
</div>

<div class="band-image" id="background-band">
  <div class="band-content">
    <div style="font-size: 3rem;">Ut lorem libero, dictum ut odio vel <!--{{id}}--></div>
    <ul>
      <li>Morbi scelerisque suscipit sem quis finibus</li>
      <li>Cras fermentum, ipsum non vestibulum iaculis, dui diam bibendum tortor</li>
      <li>Pellentesque malesuada tincidunt aliquam</li>
      <li>Aenean commodo quis lacus iaculis faucibus</li>
      <li>Cras tincidunt vel ante eget ornare</li>
      <li>Phasellus dolor justo, laoreet in dolor id, auctor semper neque.</li>
    </ul>
  </div>
</div>

<section>
  <h3 style="text-align:center;">Lorem ipsum dolor sit amet</h3>

  <p style="text-align: center;">
    Consectetur adipiscing elit. Proin molestie leo ac metus bibendum, a laoreet lorem tempor.
    Morbi et porttitor eros.
  </p>

  <div class="products-ad" id="ad">
    <div class="products-ad-text">
      <h2>Check out the full gallery</h2>
      <p>Aliquam eros est, euismod ut magna id, gravida faucibus mi</p>
    </div>
    <div class="products-ad-link">
      <a routerLink="/products">Products gallery</a>
    </div>
  </div>
</section>

<section class="mini-gallery">
  <h1 style="text-align:center; margin-top: 0;">Cras tempor pellentesque risus. Sed dapibus velit, id purus ullamcorper.</h1>

  <div class="product-collection separated">
    <div class="product-showcase framed">
      <img src="https://picsum.photos/id/628/600/467" alt="lorem picsum image" />
      <h1>Quaerat in reprehenderit</h1>
      <p>
        Nulla facilisi. Donec ultricies, nisl non dictum tempus, est nunc posuere ipsum, sed accumsan eros erat id libero.
        Sed rhoncus sit amet arcu pellentesque vehicula. Mauris viverra vestibulum justo, sed scelerisque urna euismod id.
      </p>

      <div class="products-ad-link">
        <a routerLink="/license">More about licences</a>
      </div>
    </div>

    <div class="product-showcase framed">
      <img src="https://picsum.photos/id/696/600/467" alt="lorem picsum image" />
      <h1>Deserunt unde</h1>
      <p>
        Sed eget semper metus. Etiam ut varius arcu, ac euismod orci. Nam sed scelerisque est.
        Vestibulum sit amet quam varius, faucibus libero quis, tristique enim.
        Donec tellus odio, varius in dui sit amet, malesuada iaculis sapien.
        Nulla diam arcu, molestie at nulla iaculis, viverra dapibus lorem
      </p>

      <div class="products-ad-link">
        <a routerLink="/products">Explore products</a>
      </div>
    </div>

    <div class="product-showcase framed">
      <img src="https://picsum.photos/id/700/600/467" alt="lorem picsum image" />
      <h1>Voluptate quidem</h1>
      <p>
        Quisque magna leo, cursus ut rhoncus ac, facilisis vitae neque. In hac habitasse platea dictumst.
        Nulla ac lacus et urna imperdiet lobortis sed nec ante. Quisque ultrices efficitur semper.
        Morbi semper nulla massa, sit amet volutpat lectus placerat a.
      </p>

      <div class="products-ad-link">
        <a routerLink="/cart">Cart gallery</a>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="benefits-text">
    <h3>Flexidy pretium dui</h3>
    <p>
      Aliquam eros est, euismod ut magna id, gravida faucibus mi. Duis vitae ipsum interdum, pretium dui malesuada, imperdiet orci.
      Suspendisse blandit libero ut sodales facilisis. In nec nisi non turpis fermentum consectetur.
    </p>

    <div class="benefits-list">
      <div class="benefits-list-item">
        <img src="/assets/free-board-sign-icon.svg" alt="free board sign" />
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
      </div>

      <div class="benefits-list-item">
        <img src="/assets/order-placed-purchased-icon.svg" alt="order placed purchased" />
        <p>In odio nibh, feugiat vel condimentum, dignissim luctus nulla. Mauris mauris nisi, dictum ac sodales et, aliquam vitae massa.</p>
      </div>

      <div class="benefits-list-item">
        <img src="/assets/piggy-saving-icon.svg" />
        <p>Duis ullamcorper ipsum tincidunt velit posuere euismod. Vivamus scelerisque vitae velit ut ultricies.</p>
      </div>

      <div class="benefits-list-item">
        <img src="/assets/creative-idea-solution-icon.svg" />
        <p>
          Quisque semper sodales est. Morbi rutrum aliquam nulla ut ultricies. Curabitur at nisi laoreet.
        </p>
      </div>
    </div>
  </div>

  <div class="benefits-image">
    <div class="design-container">
      <div class="left"></div>
      <div class="center"></div>
      <div class="right"></div>
    </div>
  </div>
</section>

<!--
https://picsum.photos/id/1042/3333/5000
https://picsum.photos/id/537/2291/3450
-->

<section class="mini-gallery">
  <h3 style="text-align:center; margin-top: 0;">Pellentesque eu arcu sem. Cras commodo dictum erat non placerat</h3>
  <p style="text-align:center">Vivamus lacinia augue vulputate neque feugiat blandit. Integer eget ligula non nibh tempor vestibulum. Fusce vitae iaculis quam, in iaculis neque.</p>
  <div class="product-collection">
    <div class="product-frame">
      <div class="product-showcase">
        <img src="https://picsum.photos/id/1080/600/467" alt="lorem picsum image" />
        <p class="product-showcase-text">Tenetur quis rerum blanditiis</p>
      </div>

      <div class="product-showcase">
        <img src="https://picsum.photos/id/633/600/467" alt="lorem picsum image" />
        <p class="product-showcase-text">Et et officia fugiat</p>
      </div>

      <div class="product-showcase">
        <img src="https://picsum.photos/id/444/600/467" alt="lorem picsum image" />
        <p class="product-showcase-text">Aut vitae aut harum</p>
      </div>

      <div class="product-showcase">
        <img src="https://picsum.photos/id/232/600/467" alt="lorem picsum image" />
        <p class="product-showcase-text">Voluptas expedita vel eos</p>
      </div>

      <div class="product-showcase">
        <img src="https://picsum.photos/id/250/600/467" alt="lorem picsum image" />
        <p class="product-showcase-text">Tempora amet sed est.</p>
      </div>

      <div class="product-showcase">
        <img src="https://picsum.photos/id/967/600/467" alt="lorem picsum image" />
        <p class="product-showcase-text">Suscipit perspiciatis culpa occaecati.</p>
      </div>
    </div>
  </div>
</section>
