section {
  width: 100%;
  margin: 2rem 0;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  color: rgba(0,0,0,0.8);
  line-height: 1.4;
  text-align: justify;
  padding: 0 0.5rem;
}

.search-bar-section {
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  width: 90%;
}

.search-bar-container {
  display: flex;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

.search-bar {
  border: none;
  font-size: 1.5rem;
  width: 100%;
}

.search-bar:focus {
  outline: none;
}

.magnifying_glass {
  width: 30px;
  height: auto;
  border-radius: 0.5rem;
  cursor: pointer;
}

.band-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.band-content {
  font-size: 1.1rem;
  width: 90%;
  line-height: normal;
  color: white;
}

.band-content > ul {
  margin: 0.5rem;
}

@media screen and (min-width: 840px) {
  .band-image {
    min-height: 600px;
  }

  .band-content {
    width: 60%;
    font-size: 1.7rem;
  }
}

.products-ad {
  background-color: var(--primary);
  background-image: url(https://picsum.photos/id/959/3699/2466);
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 0.3rem;
  /*padding: 1rem;*/
}

.products-ad-text {
  font-size: 1rem;
  padding: 1rem 0 1rem 1rem;
}

.products-ad-text > * {
  margin: 0;
}

.products-ad > div {
  margin: 1rem 0;
  width: 100%;
}

.products-ad-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-ad-link a {
  border-radius: 1rem;
  background-color: var(--primary);
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 0.7rem 2.5rem;
  white-space: nowrap;
}

.products-ad-image {
  /*background-image: url(https://picsum.photos/id/959/3699/2466);
  background-position: -20px -60px;
  background-repeat: no-repeat;
  background-size: 460px;
  padding-right: 1rem;*/
}

@media screen and (min-width: 840px) {
  .products-ad {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
  }

  .products-ad > div {
    width: 100%;
    margin: 0;
  }
}

.benefits {
  margin: 4rem auto;
  font-size: 1.1rem;
  text-align: left;
}

.benefits-text {
  width: 100%;
}

.benefits-text > * {
  margin: 0;
}

.benefits-list {
  display: flex;
  flex-direction: column;
}

.benefits-list-item {
  display: flex;
  margin-top: 1rem;
}

.benefits-list-item > img {
  width: 70px;
  height: auto;
  margin-right: 0.7rem;
}

.benefits-image {
  width: 100%;
  display: none;
  position: relative;
}

.image-design {
  display: flex;
  width: 100%;
  height: 600px;
  position: relative;
  perspective: 100px;
  perspective-origin: right;
}

.image-design > div {
  position: absolute;
  transform: rotateY(-2deg);
  transform-style: preserve-3d;
  transition: transform 1s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.3rem;
}

.image-design > div:hover {
  transform: rotateY(0deg);
}

.upper-design {
  top: 0;
  left: 30px;
  width: 21rem;
  height: 15rem;
  background-image: url(https://picsum.photos/id/996/4272/2848);
  box-shadow: 10px -10px var(--secondary),-10px 10px var(--secondary);
}

.left-design {
  top: 0;
  left: 400px;
  width: 20rem;
  height: 100%;
  background-image: url(https://picsum.photos/id/195/768/1024);
  box-shadow: 10px 10px var(--secondary), -10px -10px var(--secondary);
}

.overlap-design {
  left: 10px;
  top: 270px;
  width: 23.5rem;
  height: 18.75rem;
  background-color: var(--secondary);
}

.overlap-design > div {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.3rem;
}

.overlapped-design {
  top: 0.5rem;
  left: 0.5rem;
  width: 19rem;
  height: 17rem;
  background-image: url(https://picsum.photos/id/43/1280/831);
}

.overlapping-design {
  top: 1.25rem;
  left: 4rem;
  width: 19rem;
  height: 17rem;
  background-image: url(https://picsum.photos/id/82/1500/997);
}

@media screen and (min-width: 840px) {
  .benefits {
    width: 60%;
    display: flex;
  }

  .benefits-text {
    width: 50%;
  }

  .benefits-image {
    width: 50%;
    display: block;
    height: 100%;
  }
}

.mini-gallery {
  background-color: var(--tertiary);
  padding: 1.5rem 0.5rem;
}

.product-collection {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.product-frame {
  display: flex;
  flex-wrap: wrap;
}

.product-showcase {
  width: 50%;
  padding: 0.5rem;
}

.product-showcase > * {
  margin: 0;
  line-height: normal;
  font-size: 1.1rem;
  text-align: left;
  font-weight: bold;
}

.product-showcase > img {
  width: 100%;
  max-width: 25rem;
  border-radius: 0.3rem;
  transition: all 1s;
}

.product-showcase > img:hover {
  transform: scale(1.05, 1.05);
}

.full-width > .product-showcase {
  width: 100%;
}

@media screen and (min-width: 840px) {
  .mini-gallery {
    padding: 2.5rem;
  }

  .product-collection {
    width: 80%;
  }

  .product-showcase {
    width: 33.33%;
  }

  .full-width > .product-showcase {
    width: 33.33%;
  }
}
