<div class="home-background"></div>

<div class="home-container">
  <h1 style="text-align:center">Lorem Ipsum</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie leo ac metus bibendum, a laoreet lorem tempor.
    Morbi et porttitor eros. Nunc lacinia maximus tempus. Aliquam sagittis tellus vitae scelerisque convallis.
    In ullamcorper eros id purus tempor ullamcorper. Duis nec pharetra sapien, ac ullamcorper dolor. Vivamus sagittis auctor rhoncus.
    Nunc quis accumsan ligula. Nulla facilisi. Suspendisse potenti. Aenean quis nunc enim. Vestibulum pretium augue vel bibendum aliquet.
    Quisque mattis imperdiet mauris nec dapibus. Morbi aliquam venenatis orci non dictum. Curabitur efficitur lectus sit amet mi consectetur euismod.
    Pellentesque ut mauris ac erat viverra fermentum vitae at erat. Nam ac auctor sem. Curabitur turpis justo, placerat ac leo a, accumsan mattis justo.
  </p>
  <img src="https://picsum.photos/300/200" alt="lorem picsum image" class="inline-pic" />
  <p>
    Nunc quis accumsan ligula. Nulla facilisi. Suspendisse potenti. Aenean quis nunc enim. Vestibulum pretium augue vel bibendum aliquet.
    Quisque mattis imperdiet mauris nec dapibus. Morbi aliquam venenatis orci non dictum. Curabitur efficitur lectus sit amet mi consectetur euismod.
    Pellentesque ut mauris ac erat viverra fermentum vitae at erat. Nam ac auctor sem. Curabitur turpis justo, placerat ac leo a, accumsan mattis justo.
  </p>
</div>

<div class="home-container">
  <h1 style="text-align:center">Lorem Ipsum</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie leo ac metus bibendum, a laoreet lorem tempor.
    Morbi et porttitor eros. Nunc lacinia maximus tempus. Aliquam sagittis tellus vitae scelerisque convallis.
    In ullamcorper eros id purus tempor ullamcorper. Duis nec pharetra sapien, ac ullamcorper dolor. Vivamus sagittis auctor rhoncus.
    Nunc quis accumsan ligula. Nulla facilisi. Suspendisse potenti. Aenean quis nunc enim. Vestibulum pretium augue vel bibendum aliquet.
    Quisque mattis imperdiet mauris nec dapibus. Morbi aliquam venenatis orci non dictum. Curabitur efficitur lectus sit amet mi consectetur euismod.
    Pellentesque ut mauris ac erat viverra fermentum vitae at erat. Nam ac auctor sem. Curabitur turpis justo, placerat ac leo a, accumsan mattis justo.
  </p>
  <img src="https://picsum.photos/300/200" alt="lorem picsum image" class="inline-pic" />
  <span>
    Nunc quis accumsan ligula. Nulla facilisi. Suspendisse potenti. Aenean quis nunc enim. Vestibulum pretium augue vel bibendum aliquet.
    Quisque mattis imperdiet mauris nec dapibus. Morbi aliquam venenatis orci non dictum. Curabitur efficitur lectus sit amet mi consectetur euismod.
    Pellentesque ut mauris ac erat viverra fermentum vitae at erat. Nam ac auctor sem. Curabitur turpis justo, placerat ac leo a, accumsan mattis justo.
  </span>
</div>
