<div class="search-bar-section">
  <div class="search-bar-text">
    <img src="/assets/image-line-icon.svg"  alt="svg-image"/>
    Images
  </div>

  <div class="search-bar-container">
    <input type="text" placeholder="Search image" class="search-bar" />
    <img class="magnifying_glass" src="/assets/search-line-icon.svg" alt="svg-search" />
  </div>
</div>

<div class="band-image" id="background-band">
  <div class="band-content">
    <div style="font-size: 3rem;">Ut lorem libero, dictum ut odio vel {{id}}</div>
    <ul>
      <li>Morbi scelerisque suscipit sem quis finibus</li>
      <li>Cras fermentum, ipsum non vestibulum iaculis, dui diam bibendum tortor</li>
      <li>Pellentesque malesuada tincidunt aliquam</li>
      <li>Aenean commodo quis lacus iaculis faucibus</li>
      <li>Cras tincidunt vel ante eget ornare</li>
      <li>Phasellus dolor justo, laoreet in dolor id, auctor semper neque.</li>
    </ul>
  </div>
</div>

<div class="home-container">
  <h3 style="text-align:center">Lorem ipsum dolor sit amet</h3>

  <p>
    Consectetur adipiscing elit. Proin molestie leo ac metus bibendum, a laoreet lorem tempor.
    Morbi et porttitor eros. Nunc lacinia maximus tempus. Aliquam sagittis tellus vitae scelerisque convallis.
  </p>

  <div class="products-ad">
    <div class="products-ad-text">
      <h2>Check out the full gallery</h2>
      <p>Aliquam eros est, euismod ut magna id, gravida faucibus mi</p>
    </div>
    <div class="products-ad-link">
      <a routerLink="/products">Products gallery</a>
    </div>
    <div class="products-ad-image">
    </div>
  </div>
</div>

<section class="horizontal-gallery">
  <div class="another-section">
    <h3 style="text-align:center">Cras tempor pellentesque risus. Sed dapibus velit, id purus ullamcorper.</h3>

    <div class="image-container">
      <div class="image-frame">
        <img src="https://picsum.photos/300/200?random&secId=25" alt="lorem picsum image" />
        <div>Praesent porta</div>
      </div>
      <div class="image-frame">
        <img src="https://picsum.photos/300/200?random&secId=22" alt="lorem picsum image" />
        <div>Pellentesque</div>
      </div>
      <div class="image-frame">
        <img src="https://picsum.photos/300/200?random&secId=21" alt="lorem picsum image" />
        <div>Sed dapibus</div>
      </div>
    </div>

    <p>
      Curabitur efficitur lectus sit amet mi consectetur euismod.
      Pellentesque ut mauris ac erat viverra fermentum vitae at erat.
    </p>
  </div>
</section>

<section class="benefits">
  <div class="benefits-text">
    <h3>Flexidy pretium dui</h3>
    <p>
      Aliquam eros est, euismod ut magna id, gravida faucibus mi. Duis vitae ipsum interdum, pretium dui malesuada, imperdiet orci.
      Suspendisse blandit libero ut sodales facilisis. In nec nisi non turpis fermentum consectetur.
    </p>

    <div class="benefits-list">
      <div class="benefits-list-item">
        <img src="/assets/free-board-sign-icon.svg" alt="free board sign"/>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
      </div>

      <div class="benefits-list-item">
        <img src="/assets/order-placed-purchased-icon.svg" alt="order placed purchased" />
        <p>In odio nibh, feugiat vel condimentum, dignissim luctus nulla. Mauris mauris nisi, dictum ac sodales et, aliquam vitae massa.</p>
      </div>

      <div class="benefits-list-item">
        <img src="/assets/piggy-saving-icon.svg"  />
        <p>Duis ullamcorper ipsum tincidunt velit posuere euismod. Vivamus scelerisque vitae velit ut ultricies.</p>
      </div>

      <div class="benefits-list-item">
        <img src="/assets/creative-idea-solution-icon.svg" />
        <p>Quisque semper sodales est. Morbi rutrum aliquam nulla ut ultricies. Curabitur at nisi laoreet.
        </p>
      </div>
    </div>
  </div>

  <div class="benefits-image">

  </div>
</section>

<section class="mini-gallery">
  <h3 style="text-align:center; margin-top: 0;">Pellentesque eu arcu sem. Cras commodo dictum erat non placerat</h3>
  <p style="text-align:center">Vivamus lacinia augue vulputate neque feugiat blandit. Integer eget ligula non nibh tempor vestibulum. Fusce vitae iaculis quam, in iaculis neque.</p>
  <div class="product-collection">
    <div class="product-frame">
      <div class="product-showcase" *ngFor="let product of products">
        <img [src]="product.image" alt="lorem picsum image" />
        <p>{{ product.name }}</p>
      </div>
    </div>
  </div>
</section>


<footer role="contentinfo">
  <div class="footer-container">
    <div class="footer-upper">
      <p>Cras nisi mauris, elementum at ultricies ac, egestas vel nulla. Duis accumsan eget arcu vel molestie.</p>
      <input type="email" placeholder="email" class="input-email"/>
    </div>

    <div class="footer-mid">
      <div class="footer-column">
        <div>Maecenas</div>
        <a href="#">Ultricies</a>
        <a href="#">Phasellus</a>
        <a href="#">Suspendisse</a>
        <a href="#">Nulla</a>
        <a href="#">Phasellus montes</a>
        <a href="#">Aenean</a>
        <a href="#">Laoreet</a>
        <a href="#">Placerat</a>
      </div>

      <div class="footer-column">
        <div>Lorem tellus</div>
        <a href="#">Praesent varius</a>
        <a href="#">Vehicula</a>
        <a href="#">Elementum posuere</a>
        <a href="#">Integer purus</a>

        <div>Penatibus ligula</div>
        <a href="#">Vestibulum arcu</a>
        <a href="#">Tincidunt amet</a>
      </div>

      <div class="footer-column">
        <div>Consectetur id hendrerit</div>
        <a href="#">Risus dis parturient</a>
        <a href="#">Efficitur </a>
        <a href="#">Egestas ac orci</a>
        <a href="#">Proin sed</a>
        <a href="#">Tempus</a>
        <a href="#">Ornare dolor</a>
        <a href="#">Eleifend convallis</a>
      </div>

      <div class="footer-column">
        <div>Sollicitudin</div>
        <a href="#">Nullam congue</a>
        <a href="#">Tempus</a>
        <a href="#">Rutrum dictum ex</a>
        <a href="#">Morbi</a>

        <div>Dolorem dis parturient</div>
        <a href="#">Vivamus donec</a>
        <a href="#">Pulvinar</a>
        <a href="#">Faucibus sapien iaculis</a>
      </div>

      <div class="footer-column">
        <div>Maximus pretium</div>
        <a href="#">Nascetur faucibus</a>
        <a href="#">Imperdiet elit</a>
        <a href="#">Posuere magna</a>
        <a href="#">Tristique</a>
        <a href="#">Viverra vel erat</a>

        <div>Mauris tortor</div>
        <a href="#">Dictum nec rhoncus</a>
        <a href="#">Bibendum aliquam</a>
      </div>
    </div>

    <hr style="border-top: 1px solid rgba(255,255,255,0.5); margin: 2rem 0;" />

    <div class="footer-lower">
      <p>© 2003-2022 Flexidy, Inc.</p>
    </div>
  </div>
</footer>
