<section style="background-color: var(--tertiary);">
  <div class="header-container">
    <h1 style="margin-top: 0">Flexidy amet ornare?</h1>

    <p>
      Duis nulla ligula, varius vel pellentesque at, posuere nec augue. Aliquam euismod felis est, sit amet fermentum est imperdiet sed
      Donec id lorem at justo eleifend dapibus in vitae odio. Nullam bibendum finibus ante.
      Vestibulum efficitur volutpat tristique.
    </p>

    <p>
      Fusce porttitor turpis ac sem ultrices semper. In tincidunt nunc a nisl fringilla, nec dictum ligula pharetra.
      Mauris nisi elit, tincidunt vitae interdum eu, gravida eget lorem. Integer id vehicula nisl.Suspendisse lacinia,
      ligula sed vehicula fringilla, nulla felis molestie neque, eu egestas risus est nec magna.
      In maximus, libero ac placerat sollicitudin, nulla ex scelerisque orci, et vestibulum sapien libero sed dolor.
    </p>
  </div>
</section>

<section>
  <div class="allowance-container">
    <div>
      <h1>Quisque aliquet?</h1>
      <ul class="allow-list">
        <li>Praesent posuere elementum risus.</li>
        <li>Maecenas et congue risus.</li>
        <li>Curabitur faucibus pulvinar enim.</li>
        <li>Sed imperdiet velit turpis sollicitudin dictum.</li>
        <li>Vivamus vestibulum sem quis purus dapibus facilisis.</li>
      </ul>
    </div>

    <div>
      <h1>Quisque accumsan?</h1>
      <ul class="not-allow-list">
        <li>Aenean scelerisque, sapien ac porttitor venenatis.</li>
        <li>Suspendisse pretium sem nisi, quis luctus risus pellentesque.</li>
        <li>Morbi porttitor nec magna.</li>
        <li> In hac habitasse platea dictumst.</li>
      </ul>
    </div>
  </div>
</section>

<section style="background-color: var(--tertiary); padding: 2rem;">
  <div class="design-container">
    <div class="text-image-design">
      <img class="image-design" src="https://picsum.photos/id/785/720/480" />

      <div class="text-design">
        <div>
          <h1>Ut tortor finibus malesuada</h1>
          <p>Vivamus vestibulum sem quis purus dapibus facilisis. Sed auctor lectus sit amet sapien malesuada, quis vestibulum est cursus.</p>
        </div>
      </div>
    </div>

    <div class="text-image-design">
      <div class="text-design">
        <div>
          <h1>Suspendisse potenti</h1>
          <p>
            Nam semper ac enim id convallis. Suspendisse mi nibh, luctus nec sem non, scelerisque vestibulum sapien. Vestibulum eu ex felis.
            Nam lacus elit, porttitor in efficitur eget, congue et metus.
          </p>
        </div>
      </div>

      <img class="image-design" src="https://picsum.photos/id/1062/720/480" />
    </div>

    <div class="text-image-design">
      <img class="image-design" src="https://picsum.photos/id/152/720/480" />

      <div class="text-design">
        <div>
          <h1>Donec lectus</h1>
          <p>
            Aenean scelerisque, sapien ac porttitor venenatis, libero neque bibendum orci, vitae vestibulum orci ligula ac arcu.
          </p>
        </div>
      </div>
    </div>

    <div class="text-image-design">
      <div class="text-design">
        <div>
          <h1>Fusce dictum</h1>
          <p>
            Donec dolor neque, tincidunt quis blandit vel, euismod sed odio. Vivamus leo nisi, venenatis nec mauris tristique, venenatis condimentum ligula.
          </p>
        </div>
      </div>

      <img class="image-design" src="https://picsum.photos/id/1005/720/480" />
    </div>
  </div>
</section>
