
<div class="list-container">
  <h1>Products</h1>

  <div class="confg-container">
    <label>Sizes:</label>
    <select class="normal-slct" name="product-amount" id="product_selector" (change)="filter()" disabled>
      <option value="0" selected>All sizes</option>
      <option value="1">Small</option>
      <option value="2">Medium</option>
      <option value="3">Large</option>
    </select>
  </div>

  <div id="products_flex" class="products-flex">
    <div *ngFor="let column of columns" class="products-columns">
      <app-singular-product *ngFor="let product of column" product-card [product]="product"
                            [onCart]="cart.items.indexOf(product) !== -1" (addToCart)="addToCart(product)"
                            (removeFromCart)="removeFromCart(product)"></app-singular-product>
    </div>
  </div>

  <div class="loading-gif" id="loading_gif">
    <img src="../../assets/loading.gif" alt="loadind gif" />
  </div>
  <div class="loading-container">
      <div class="loading-bar" id="loading_bar" #loading_bar></div>
  </div>
</div>

