<footer role="contentinfo">
  <div class="footer-container">
    <div class="footer-upper">
      <p>Cras nisi mauris, elementum at ultricies ac, egestas vel nulla. Duis accumsan eget arcu vel molestie.</p>
      <input type="email" placeholder="email" class="input-email" />
    </div>

    <div class="footer-mid">
      <div class="footer-column">
        <div>Maecenas</div>
        <a href="#">Ultricies</a>
        <a href="#">Phasellus</a>
        <a href="#">Suspendisse</a>
        <a href="#">Nulla</a>
        <a href="#">Phasellus montes</a>
        <a href="#">Aenean</a>
        <a href="#">Laoreet</a>
        <a href="#">Placerat</a>
      </div>

      <div class="footer-column">
        <div>Lorem tellus</div>
        <a href="#">Praesent varius</a>
        <a href="#">Vehicula</a>
        <a href="#">Elementum posuere</a>
        <a href="#">Integer purus</a>

        <div>Penatibus ligula</div>
        <a href="#">Vestibulum arcu</a>
        <a href="#">Tincidunt amet</a>
      </div>

      <div class="footer-column">
        <div>Consectetur id hendrerit</div>
        <a href="#">Risus dis parturient</a>
        <a href="#">Efficitur </a>
        <a href="#">Egestas ac orci</a>
        <a href="#">Proin sed</a>
        <a href="#">Tempus</a>
        <a href="#">Ornare dolor</a>
        <a href="#">Eleifend convallis</a>
      </div>

      <div class="footer-column">
        <div>Sollicitudin</div>
        <a href="#">Nullam congue</a>
        <a href="#">Tempus</a>
        <a href="#">Rutrum dictum ex</a>
        <a href="#">Morbi</a>

        <div>Dolorem dis parturient</div>
        <a href="#">Vivamus donec</a>
        <a href="#">Pulvinar</a>
        <a href="#">Faucibus sapien iaculis</a>
      </div>

      <div class="footer-column">
        <div>Maximus pretium</div>
        <a href="#">Nascetur faucibus</a>
        <a href="#">Imperdiet elit</a>
        <a href="#">Posuere magna</a>
        <a href="#">Tristique</a>
        <a href="#">Viverra vel erat</a>

        <div>Mauris tortor</div>
        <a href="#">Dictum nec rhoncus</a>
        <a href="#">Bibendum aliquam</a>
      </div>
    </div>

    <hr style="border-top: 1px solid rgba(255,255,255,0.5); margin: 2rem 0;" />

    <div class="footer-lower">
      <p>© 2003-2022 Flexidy, Inc.</p>
    </div>
  </div>
</footer>
