<section>
  <div class="product-showcase" *ngIf="product !== undefined" product-page>
    <div>
      <img class="product-image" (click)="expandImg()" [src]="product.image" [alt]="product.name" />
    </div>
    <div class="product-info">
      <h1 style="margin: 0">{{ product.name }}</h1>
      <div>{{ product.image }}</div>
      <div>by {{ product.author }}</div>

      <strong class="price-container" *ngIf="product.price !== 0">
        <span class="other">$</span>
        <span class="price" *ngIf="product.stringPrice !== undefined">{{ product.stringPrice.split(".")[0] }}</span>
        <span class="other" *ngIf="product.stringPrice !== undefined">{{ product.stringPrice.split(".")[1] }}</span>
      </strong>

      <strong class="price-container" *ngIf="product.price == 0">
        <span class="price" >{{ product.stringPrice  }}</span>
      </strong>

      <button type="button" class="buy-button cart" *ngIf="cart.items.indexOf(product) !== -1" (click)="removeFromCart(product)">Remove from cart</button>
      <button type="button" class="buy-button cart" *ngIf="!(cart.items.indexOf(product) !== -1)" (click)="addToCart(product)">Add to cart</button>
      <button type="button" *ngIf="product.price !== 0" class="buy-button" id="buy_button">Buy now</button>
      <button type="button" *ngIf="product.price == 0" class="buy-button" id="buy_button">Free download</button>
    </div>
  </div>
</section>

<section class="recommended-section" no-buy-button *ngIf="desktop; else recommended_mobile">
  <h3 style="margin: 0.5rem 0.5rem 0">Recommended products</h3>
  <app-carousel [products]="recommendations"></app-carousel>
</section>

<ng-template #recommended_mobile>
  <section class="recommended-section">
    <h3 style="margin: 0.7rem">Recommended products</h3>
    <div class="slide-container" no-buy-button vertical-product>
      <app-singular-product *ngFor="let product of recommendations" [product]="product" [onCart]="cart.items.indexOf(product) !== -1" (addToCart)="addToCart(product)" (removeFromCart)="removeFromCart(product)"></app-singular-product>
    </div>
  </section>
</ng-template>

<div id="full_size" class="background" *ngIf="product !== undefined" >
  <img class="background-close" src="/assets/close-line-icon.svg" />
  <!--1000/900-->
  <img class="expand-image" id="expand_image" [src]="product.image" [alt]="product.name" />
</div>
