body {
  margin: 0;
  height: 100%;
  background-color: white;
}

:root {
  --primary: #0E5E6F;
  --secondary: #3A8891;
  --tertiary: #f2f2f2;
  --quaternary: #EAEAEA;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  min-height: 100%;
  font-size: 18px;
  margin: 0 auto;
  padding-top: 4rem;
}
