.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  border-bottom: 1px solid rgba(0,0,0,0.9);
}

nav {
  height: fit-content;
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.logo {
  width: fit-content;
  padding-left: 0.5rem;
  font-size: 36px;
}

.link-list {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  justify-content: start;
}

a {
  text-decoration: none;
  color: white;
}
