.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--primary);
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  transition: background-color 500ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

nav {
  height: fit-content;
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.logo {
  width: fit-content;
  padding-left: 0.5rem;
  font-size: 36px;
}

.link-list {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.link-list > :not(.mobile){
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

.shopping-cart {
  display: flex;
  position: relative;
  align-items: center;
}

.shopping-cart > img {
  width: 55px;
  height: auto;
  left: 0;
  top:0;
}

.items-amount {
  position: absolute;
  top: 3px;
  left: 20px;
  right: auto;
  background-color: var(--primary);
  border-radius: 5px;
  line-height: 0.9;
  text-align: center;
  -webkit-box-pack: center;
  min-width: 27px;
  font-size: 25px;
  transition: background-color 500ms;
}

.mobile-links-button {
  width: 2rem;
  height: 2rem;
  background: url(../../assets/hamburger-menu-icon.svg) no-repeat center;
  background-size: contain;
  position: relative;
}

.mobile-navigation-bar {
  z-index: 2;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 4.5rem 1rem;
  background-color: var(--primary);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 26px;
  flex-direction: column;
  gap: 0.7rem;
  transition: left 500ms;
}

@media screen and (min-width: 540px) {
  .link-list {
    justify-content: start;
    padding: 0 1rem;
  }

  .link-list > :not(.mobile) {
    display: block;
  }

  .shopping-cart {
    margin-left: auto;
  }

  .mobile-navigation-bar {
    display: none;
  }

  .mobile-links-button {
    display: none;
  }
}
